<section>
  <h1><i class="fas fa-cogs"></i>Gamer<span>Gear</span></h1>
  <h2>{{ 'homepage.moto' | translate }}!</h2>
</section>

<section class="popItems">
  <h2>{{ 'homepage.popular_products' | translate }}!</h2>
  <ul>
    <li class="py-2 px-1" *ngFor="let item of items">
      <app-itemsingle [item]="item"></app-itemsingle>
    </li>
  </ul>
</section>

<div class="videoWrap">
  <div class="overlay"></div>
  <video autoplay muted loop class="myVideo">
    <source src="../../../assets/videos/pexels-tima-miroshnichenko-6498253.mp4" type="video/mp4">
  </video>
</div>

