@import '../../../../styles'

section
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

  .cart-wrap
    border-radius: 10px
    text-align: center
    color: #121212

    .fa-shopping-basket
      font-size: 4rem
      color: $blue-color

    table
      border-collapse: collapse

    td
      border-top: 1px solid $blue-color
      border-bottom: 1px solid $blue-color

    td + td
      padding-left: 10px

      i
        font-size: 1.6rem
        cursor: pointer

    .amount-wrap
      display: flex
      align-items: center
      border: 1px solid #999

      input
        width: 15px
        border: none
        color: #000
        background: #fff

  .order-info
    display: flex
    flex-direction: column
    align-items: center

    input
      border: 1px solid $blue-color
      margin: 5px
      padding: 5px
      border-radius: 5px

  .payment-wrap
    display: flex
    flex-direction: column

    .icons
      display: flex
      text-align: center

      div:hover
        cursor: pointer
        color: $blue-color

      i
        font-size: 3rem

    div + div
      padding-left: 20px

.fa-trash-alt
  color: $danger-color

  &:hover
    filter: brightness(85%)

.buttons
  button + button
    margin-left: 20px

span
  color: $danger-color
  text-decoration: line-through
