<section
  *ngIf="!cart || cart.cartItems.length <= 0"
  class="py-2">
  <div class="cart-wrap">
    <h2>No products in cart!</h2>
    <i class="fas fa-shopping-basket"></i>
    <p>We can cover all your gaming needs!</p>
  </div>
</section>

<section
  *ngIf="cart.cartItems.length > 0"
  class="py-2">
  <div class="cart-wrap p-2" *ngIf="orderProcessNumber === 1">
    <h2>Shopping Cart!</h2>
    <table class="mt-2">
      <tr *ngFor="let cartItem of cart.cartItems">
        <td routerLink="/ItemDetail/{{cartItem.item._id}}" style="cursor: pointer">
          <img src="{{cartItem.item.image}}" width="100" />
        </td>
        <td routerLink="/ItemDetail/{{cartItem.item._id}}" style="cursor: pointer">
          <p>{{ cartItem.item.name }}</p>
        </td>
        <td>
          <strong>
            <p *ngIf="cartItem.item.onSale"><span>{{ prettyCurrency(cartItem.item.price) }}</span> - {{ prettyCurrency(cartItem.item.price - cartItem.item.saleAmount) }}</p>
            <p *ngIf="!cartItem.item.onSale">{{ prettyCurrency(cartItem.item.price) }}</p>
          </strong>
        </td>
        <td>
          <div class="amount-wrap">
            <button (click)="decreaseAmount(cartItem)" class="btn btn-shoppingcart-amount">-</button>
            <p class="p-1">{{cartItem.num}}</p>
            <button (click)="addAmount(cartItem)" *ngIf="cartItem.item.amountInStock > cartItem.num" class="btn btn-shoppingcart-amount">+</button>
            <button disabled *ngIf="cartItem.item.amountInStock <= cartItem.num" class="btn btn-shoppingcart-amount btn-disabled">+</button>
          </div>
        </td>
        <td>
          <i class="fas fa-trash-alt" (click)="removeItem(cartItem)"></i>
        </td>
        <td>
          <p *ngIf="cartItem.item.onSale">{{ 'general.total_price' | translate }}: <strong>{{ prettyCurrency(cartItem.num * (cartItem.item.price - cartItem.item.saleAmount)) }}</strong></p>
          <p *ngIf="!cartItem.item.onSale">{{ 'general.total_price' | translate }}: <strong>{{ prettyCurrency(cartItem.num * cartItem.item.price) }}</strong></p>
        </td>
      </tr>
    </table>
      <br>
    <div>
      <h3>Number of Items: {{cart.itemsAmount}} - {{ 'general.total_price' | translate }}: {{ prettyCurrency(cart.totalPrice) }}</h3>
    </div>
    <div class="buttons pt-2">
      <button (click)="orderProcess(2)" class="btn btn-dark">To Delivery</button>
    </div>
  </div>

  <div class="order-info pt-3" *ngIf="orderProcessNumber === 2">
    <h2>Delivery Information</h2>
    <form [formGroup]="infoForm">
      <input formControlName="userEmail" type="input" placeholder="email" /> <br>
      <input formControlName="address" type="input" placeholder="address" /> <br>
      <input formControlName="city" type="input" placeholder="city" /> <br><br>
    </form>
    <div class="buttons">
      <button (click)="orderProcess(1)" class="btn btn-dark">Back to Cart</button>
      <button (click)="checkDeliveryInfo()" *ngIf="this.infoForm.valid" class="btn btn-dark">To Payment</button>
      <button class="btn btn-disabled" *ngIf="!this.infoForm.valid">To Payment</button>
    </div>
  </div>

  <div class="payment-wrap" *ngIf="orderProcessNumber === 3">
    <h2>Choose Payment</h2>
    <div class="icons py-2" *ngIf="!paymentSuccessful">
      <div (click)="changeShowPayment(1)"><i class="fab fa-cc-paypal"></i><br> Paypal</div>
      <div (click)="changeShowPayment(2)"><i class="fab fa-cc-visa"></i><br> Visa</div>
      <div (click)="changeShowPayment(3)"><i class="fas fa-mobile"></i><br> MobilePay</div>
      <div (click)="changeShowPayment(4)"><i class="fas fa-gift"></i><br> Use Giftcard</div>
    </div>
    <div *ngIf="paymentSuccessful">
      <h2><i class="fas fa-check"></i><br>Success</h2>
    </div>
    <div class="buttons">
      <button (click)="orderProcess(2)" class="btn btn-dark">Back to delivery</button>
      <button (click)="orderProcess(4)" class="btn btn-dark" *ngIf="paymentSuccessful">To Overview</button>
      <button class="btn btn-disabled" *ngIf="!paymentSuccessful">To Overview</button>
    </div>
    <app-payment
      *ngIf="showPaymentModal"
      [paymentMethodNumb]="paymentMethodNumber"
      (paymentSuccessful)="paymentSuccess()"
      (eventName)="changeShowPayment(0)"
    ></app-payment>
  </div>

  <div *ngIf="orderProcessNumber === 4">
    <app-overview [cart]="cart" (progreesEvent)="orderProcess(3)"></app-overview>
    <!-- <h2>Overview</h2>
    <table>
      <tr *ngFor="let cartItem of cart.cartItems">
        <td>
          <img src="{{cartItem.item.image}}" width="100" />
        </td>
        <td>
          <p>{{ cartItem.item.name }}</p>
        </td>
        <td>
          <strong>
            <p *ngIf="cartItem.item.onSale"><span>{{ prettyCurrency(cartItem.item.price) }}</span> - {{ prettyCurrency(cartItem.item.price - cartItem.item.saleAmount) }}</p>
            <p *ngIf="!cartItem.item.onSale">{{ prettyCurrency(cartItem.item.price) }}</p>
          </strong>
        </td>
        <td>
          {{cartItem.num}}
        </td>
        <td>
          <p *ngIf="cartItem.item.onSale">{{ 'general.total_price' | translate }}: <strong>{{ prettyCurrency(cartItem.num * (cartItem.item.price - cartItem.item.saleAmount)) }}</strong></p>
          <p *ngIf="!cartItem.item.onSale">{{ 'general.total_price' | translate }}: <strong>{{ prettyCurrency(cartItem.num * cartItem.item.price) }}</strong></p>
        </td>
      </tr>
    </table>
    <div>
      <h3>Will be delivered to</h3>
      <p>
        {{this.infoForm.value.address}} <br>
        {{this.infoForm.value.city}}
      </p>
    </div>
    <div class="buttons">
      <button (click)="orderProcess(3)" class="btn btn-dark">Back to payment</button>
      <button class="checkBtn" (click)="completeOrder()" class="btn btn-dark">Complete your Order!</button>
    </div>
    <br> -->
  </div>

</section>
