@import '../../../../styles'

section
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

  .cartWrap
    border-radius: 10px
    text-align: center
    padding: 10px
    color: #121212

    span
      color: $danger-color
      text-decoration: line-through

    .fa-shopping-basket
      font-size: 4rem
      color: $blue-color

    table
      border-collapse: collapse

    td
      border-top: 1px solid $blue-color
      border-bottom: 1px solid $blue-color

    td + td
      padding-left: 10px

      i
        font-size: 1.6rem
        cursor: pointer

      button
        border: none
        font-size: 1.5rem
        cursor: pointer
        background: #fff

        &:hover
          background: #888

    .amountWrap
      display: flex
      align-items: center
      border: 1px solid #999

      input
        width: 15px
        border: none
        color: #000
        background: #fff

  .orderInfo
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 15px

    input
      border: 1px solid $blue-color
      margin: 5px
      padding: 5px
      border-radius: 5px

  .paymentWrap
    display: flex
    flex-direction: column

    .icons
      display: flex
      text-align: center
      padding-bottom: 20px

      div:hover
        cursor: pointer
        color: $blue-color

      i
        font-size: 3rem

    div + div
      padding-left: 20px

.fa-trash-alt
  color: $danger-color

  &:hover
    filter: brightness(85%)

.buttons
  button
    border: none
    border-radius: 10px
    background: $secondary-color
    color: #fff
    padding: 10px 15px
    font-size: 1rem
    cursor: pointer

    &:hover
      background-color: $darkblue-color

  button + button
    margin-left: 20px
