<div class="search-form-wrapper">
  <form [formGroup]="searchForm" (submit)="search()" class="input-group">
    <input [formControl]="queryField" type="search" (keydown)="onKeydown($event)"
      id="keyword" placeholder="Search for you gaming gear" autocomplete="off" autofocus />
    <button type="submit" routerLink="FilteredList/{{queryField.value}}">Search</button>
  </form>
  <ul class="autoCompleteList">
    <li *ngFor="let item of autoSearchItems | slice:0:5" (click)="onAutoClick(item._id)">
      <p><strong>{{ item.name }}</strong>: {{ item.description | slice:0:50 }}</p>
    </li>
  </ul>
</div>
