<div class="search-form-wrapper">
  <form [formGroup]="searchForm" (submit)="search()" class="input-group">
    <input [formControl]="queryField" type="search" (keydown)="onKeydown($event)"
      id="keyword" placeholder="Search for you gaming gear" autocomplete="off" autofocus />
    <button type="submit">Search</button>
  </form>
  <ul class="autoCompleteList">
    <li *ngFor="let item of autoSearchItems" (click)="onAutoClick(item._id)">
      <img src="{{ item.image }}" height="40" /><strong>{{ item.name }}</strong>: {{ item.description | slice:0:50 }}
    </li>
  </ul>
</div>
