<section *ngIf="user" class="userpageWrap">
  <h1>{{ user.name }}</h1>
  <p>Email: {{ user.email }}</p>
  <section class="userOrdersWrap" *ngIf="orders.length > 0">
    <h3>{{ 'userpage.your_orders' | translate }}</h3>
    <ul>
      <li *ngFor="let order of orders" routerLink="/OrderDetail/{{order._id}}">
        <p>
          <strong>{{ order._id }}</strong>:
          {{ order.totalNumberItems }} {{ 'userpage.items_for' | translate}} =
          <strong>{{ order.totalPrice }}</strong> kr. -
          {{ order.status }}
        </p>
      </li>
    </ul>
  </section>
  <section *ngIf="ratings.length > 0">
    <h3>{{ 'userpage.your_ratings' | translate }}</h3>
    <ul>
      <li *ngFor="let rating of ratings" routerLink="/ItemDetail/{{rating.itemId}}">
        <p><strong>{{ rating.itemId }} {{ rating.rating }}</strong> {{ rating.commentText }}</p>
      </li>
    </ul>
  </section>
</section>
