<div class="top-bar">
  <ul>
    <li (click)="gotoProducts()" routerLink="ItemList">All</li>
    <li *ngFor="let cat of categories">
      <span (click)="goToCategory(cat)" routerLink="ItemList/{{cat}}">
        {{ ('categories.' + cat).toLowerCase() | translate }}
      </span>
    </li>
  </ul>
  <ul>
    <li [routerLinkActive]='["link-active"]' *ngIf="userIsAuthenticated && userRole === 'admin'">
      <span routerLink="AdminPage">Admin</span>
    </li>
    <li [routerLinkActive]='["link-active"]' *ngIf="!userIsAuthenticated">
      <span routerLink="SignupSignin">{{ 'navbar.login' | translate}}</span>
    </li>
    <li *ngIf="userIsAuthenticated && userRole === 'user'" routerLink="UserPage">{{ 'navbar.userpage' | translate }}</li>
    <li *ngIf="userIsAuthenticated" (click)="signout()">{{ 'navbar.logout' | translate }}</li>
    <li>
      <img src="https://image.flaticon.com/icons/png/128/197/197374.png" (click)="changeLanguage('en')" />
      <img src="https://image.flaticon.com/icons/png/128/197/197565.png" (click)="changeLanguage('dk')" />
    </li>
  </ul>
</div>

<nav class="navbar">
  <ul>
    <li>
      <div>
        <h1 routerLink="Home"><i class="fas fa-cogs"></i> Gamer<span>Gear</span></h1>
      </div>
    </li>
    <li [routerLinkActive]='["link-active"]' style="margin-left: 40px">
      <a routerLink="Home">{{ 'navbar.homepage' | translate }}</a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a (click)="gotoProducts()" routerLink="ItemList">{{ 'navbar.products' | translate}}</a>
    </li>
    <li>
      <a routerLink="ItemList" (click)="goToSale()">{{ 'navbar.weekly_sale' | translate}}</a>
    </li>
  </ul>

  <ul class="left-side">
    <li>
      <i class="fas fa-search" (click)="toggleSearchMenu()"></i>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <i routerLink="ShoppingCart" class="fas fa-shopping-cart"></i>
      <div routerLink="ShoppingCart"><span class="cart-number"><span *ngIf="ItemsInBasket < 10">0</span>{{ItemsInBasket}}</span></div>
    </li>
  </ul>
</nav>

<div *ngIf="showSearchbar">
  <app-navsearch (newItemEvent)="toggleSearchMenu()"></app-navsearch>
</div>
