<nav>
  <ul>
    <li [routerLinkActive]='["link-active"]'>
      <a routerLink="">Home</a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a (click)="gotoProducts()" routerLink="ItemList">Products</a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a routerLink="CreateStuff">CreateStuff</a>
    </li>
  </ul>

  <ul>
    <li>
      <a [routerLinkActive]='["link-active"]' routerLink="">Login</a>
    </li>
    <li>
      <a [routerLinkActive]='["link-active"]' routerLink="ShoppingCart">{{ ItemsInBasket }}<img width="40" src="../../../../assets/images/shoppingcart.png" /></a>
    </li>
  </ul>
</nav>

<ul>
  <li *ngFor="let category of categories" [routerLinkActive]='["link-active"]'>
    <a (click)="goToCategory(category.name)" routerLink="FilteredList/{{category.name}}">
      <strong>{{ category.name }}</strong>
    </a>
  </li>
</ul>
