@import '../../../../styles'

.topbar
  width: 100%
  height: 30px
  background-color: $blue-color
  display: flex
  justify-content: space-between

  ul
    list-style: none
    display: flex
    align-items: center

    li
      padding: 0 20px
      font-weight: 600

      &:hover
        color: $primary-color
        cursor: pointer
        transition: 0.3s

.navbar
  width: 100%
  background-color: $secondary-color
  display: flex
  justify-content: space-between
  border-bottom: 2px solid $blue-color

  ul
    margin: 0
    padding: 0 20px
    height: 80px
    list-style: none
    display: flex
    align-items: center

    li
      padding: 10px
      transition: .5s
      cursor: pointer

      h1
        font-size: 2.5rem
        padding: 0
        margin: 0
        color: #fff
        display: flex

        i
          font-size: 3rem
          color: $blue-color

        span
          color: $blue-color

      a
        font-family: arial
        text-decoration: none
        font-size: 1.2rem
        color: #fff
        font-weight: 600

        &:hover
          scale: 1.2
          color: $blue-color
          text-decoration: underline
          transition: .5s

      .searchBar
        position: absolute
        z-index: 10

.leftSide
  i
    font-size: 1.8rem
    color: $blue-color

    &:hover
      color: white
