@import '../../../../styles'

.navbar
  width: 100%
  background-color: $secondary-color
  display: flex
  justify-content: space-between
  border-bottom: 4px solid $blue-color

  ul
    margin: 0
    padding: 0
    height: 80px
    list-style: none
    display: flex
    align-items: center

    li
      padding: 10px
      transition: .5s
      cursor: pointer

      &:hover
        scale: 1.1
        transition: .5s

      a
        font-family: arial
        text-decoration: none
        font-size: 1.2rem
        color: #fff
        font-weight: 600

        &:hover
          color: $blue-color
          text-decoration: underline
          transition: .5s

i
  font-size: 1.8rem
  color: $blue-color

.catMenu
  margin: 0
  background-color: #444
  padding: 15px 0 15px 80px
  list-style: none
  display: flex
  border-bottom: 2px solid $blue-color

  li
    padding: 0 10px
    transition: .5s

    a
      cursor: pointer
      color: $blue-color
      text-decoration: none

      &:hover
        color: $darkblue-color


