<section *ngIf="item">
  <div class="detailWrap">
    <img src="{{ item.image }}" />
    <div class="infoWrap">
      <h1>{{ item.name }}</h1>
      <h2 *ngIf="item.onSale">
        <span>{{ item.price }}</span> - {{ item.price - item.saleAmount }},-
      </h2>
      <h2 *ngIf="!item.onSale">{{ item.price }},-</h2>
      <p>{{ item.companyName }}</p>
      <p style="width: 500px">{{ item.description }}</p>
      <p>
        <i class="{{item.amountInStock > 0 ? 'fas fa-check' : 'fas fa-times'}}"></i>
        {{ item.amountInStock }}: left in stock
      </p>
      <div *ngIf="item.amountInStock > 0 && item.amountInStock > checkAmountLeft()">
        <button (click)="buy()" class="buttonBlue">Buy</button>
      </div>
      <div *ngIf="item.amountInStock <= 0 || item.amountInStock <= checkAmountLeft()">
        <button disabled class="disabledButton">Buy</button>
      </div>
    </div>
  </div>
  <app-rating [itemId]="item._id"></app-rating>
</section>
<br>
