@import '../../../../styles'

.detailWrap
  display: flex
  justify-content: center

  .infoWrap
    display: flex
    flex-flow: column wrap
    justify-content: center

    span
      color: $danger-color
      text-decoration: line-through

  img
    max-width: 500px

    i:hover
      color: $blue-color
