@import '../../../../styles'

.detailWrap
  display: flex
  justify-content: center

  .infoWrap
    display: flex
    flex-flow: column wrap
    justify-content: center

    button
      border: none
      border-radius: 10px
      background: $blue-color
      font-size: 1.4rem
      padding: 20px
      cursor: pointer

      &:hover
        background: $darkblue-color

  img
    width: 500px
