<section *ngIf="order" class="order-detail-wrap py-5">
  <div class="order-item p-2">
    <h1>Your Order!</h1>
    <div style="text-align: left;">
      <p><strong>Order ID:</strong> {{ order._id }}</p>
      <p><strong>Order Status:</strong> {{ order.status }}</p>
      <p><strong>Delivery Adress:</strong> {{ order.address }}, {{ order.city }}</p>
    </div>
    <ul>
      <li *ngFor="let item of order.items">
        <img src="{{item.item.image}}" width="100" />
        <p class="px-1">{{item.num}}:  {{item.item.name}}</p>
        <p>&nbsp; = {{ prettyCurrency(item.num * item.item.price) }}.</p>
      </li>
    </ul>
    <p style="text-align: right;">{{ 'general.total_price' | translate }}: <strong>{{ prettyCurrency(order.totalPrice) }}</strong>.</p>
  </div>
</section>
