@import '../../../../../styles'

.wrapper
  background-color: $white-color
  color: $secondary-color
  max-width: 350px
  min-height: 490px
  box-shadow: rgba(116, 116, 116, 0.4) 0px 2px 8px 0px
  border-radius: 10px
  transition: .5s
  display: flex
  flex-flow: column wrap
  align-items: center
  justify-content: space-between

  &:hover
    scale: 1.03
    background-color: #d8f6fc
    box-shadow: $blue-color 0px 2px 18px 0px
    transition: .5s
    -webkit-transition: .5s
    cursor: pointer
    -webkit-transform: scale(1.03)
    -moz-transform: scale(1.03)
    -o-transform: scale(1.03)

  .item-description
    height: 42px
    p
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical

  .item-bottom-wrap
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

  h3
    color: $blue-color
    text-align: left

  img
    width: 250px
    object-fit: fill

  span
    color: $danger-color
    text-decoration: line-through
    font-size: 12px

  i
    font-size: $large-text
