@import '../../../../../styles'

.wrapper
  max-width: 350px
  min-height: 530px
  border: 1px solid $secondary-color
  padding: 5px 20px
  border-radius: 10px
  transition: .5s
  display: flex
  flex-flow: column wrap
  align-items: center
  justify-content: space-between

  &:hover
    scale: 1.03
    background-color: $primary-color
    box-shadow: 0px 0px 0px 2px $darkblue-color
    transition: .5s
    cursor: pointer

  h2
    color: $blue-color

  img
    width: 250px
    object-fit: fill
