.searchInput
  display: flex
  justify-content: center
  padding: 10px 0

  input
    font-size: 2rem
    padding: 10px
    border-radius: 10px
    width: 80%

ul
  margin: 0
  padding: 0
  list-style: none
  display: flex
  flex-wrap: wrap
  justify-content: center

  li
    padding: 10px 5px
    flex-basis: calc(350px)
