.btn
  background-color: $darkblue-color
  color: $white-color
  border: none
  cursor: pointer
  padding: .8rem
  border-radius: 5px
  font-size: $base-text
  &:hover
    background-color: $blue-color

.btn-wide
  width: 100%

.btn-disabled
  background-color: grey
  &:hover
    background-color: grey
    cursor: not-allowed

.btn-dark
  background: $secondary-color
  color: $white-color
  &:hover
    background-color: $darkblue-color

.btn-shoppingcart-amount
  padding: .3rem 1rem
  border-radius: 0
  font-size: $large-text
  background-color: $white-color
  color: $secondary-color
  &:hover
    background: $grey-color
