<section *ngIf="!isEmailValid">
  <form [formGroup]="checkEmailForm" (submit)="checkEmail()">
    <input type="email" formControlName="email" placeholder="email..." />
    <button type="submit">Send</button>
  </form>
</section>

<section *ngIf="isEmailValid">
  <form [formGroup]="resetPassForm" (submit)="resetPassword()">
    <input type="text" formControlName="password" placeholder="password..." />
    <input type="text" formControlName="confirmPassword" placeholder="confirm password..." />
    <button type="submit">Reset Password</button>
  </form>
</section>
