<section *ngIf="!isEmailValid">
  <form
    [formGroup]="checkEmailForm"
    (submit)="checkEmail()"
    class="card">
    <input
      type="email"
      formControlName="email"
      placeholder="{{ ('general.email' | translate).toLowerCase() }}..."
      class="inp" />
    <label>{{ response }}</label>
    <button
      type="submit"
      class="btn btn-wide mt-2"
      >{{ 'auth.check_email' | translate}}</button>
  </form>
</section>

<section *ngIf="isEmailValid">
  <form
    [formGroup]="resetPassForm"
    (submit)="resetPassword()"
    class="card">
    <input
      type="password"
      formControlName="password"
      placeholder="{{ ('general.password' | translate).toLowerCase() }}..."
      class="inp" />
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="{{ ('general.password' | translate).toLowerCase() }}..."
      class="inp" />
    <label>{{ response }}</label>
    <button
      type="submit"
      class="btn btn-wide mt-2"
      >{{ 'auth.reset_password' | translate}}</button>
  </form>
</section>
