/* You can add global styles to this file, and also import other style files */

$primary-color: #eee
$secondary-color: #202020
$pink-color: #fe14bf
$green-color:#14fe53
$blue-color: #14bffe
$darkblue-color: #0190c5

html
  background: #fff
  font-family: arial

body
  padding: 0
  margin: 0
  font-family: arial
  color: #000
