<section style="display: flex;">
  <h1>Update Items</h1>
  <ul *ngIf="items.length > 0">
    <li *ngFor="let item of items" style="cursor: pointer;">
      <p (click)="focusItem(item)">{{ item.name }} {{ item.amountInStock }}</p>
    </li>
  </ul>

  <div style="margin-left: 50px">
    <form [formGroup]="updateForm" (submit)="updateItem()">
      <input formControlName="id" type="text" placeholder="id" hidden /><br>
      <input formControlName="name" type="input" placeholder="Item Name" /> <br>
      <input formControlName="description" type="input" placeholder="Description" /> <br>
      <input formControlName="price" type="input" placeholder="price" /> <br>
      <input formControlName="image" type="input" placeholder="image link" /> <br>
      <input formControlName="companyName" type="input" placeholder="Company Name"/> <br>
      <input formControlName="amountInStock" type="input" placeholder="Amount in Stock" /> <br>
      <select formControlName="category">
        <option *ngFor="let item of categories" value="{{item.name}}">{{item.name}}</option>
      </select> <br>
      <button type="submit">Update Item</button>
    </form>
  </div>
</section>
