<footer>
  <section class="topSec">
    <div>
      <ul>
        <li>
          {{ 'footer.about_us' | translate }}
        </li>
        <li>
          {{ 'footer.support' | translate }}
        </li>
        <li>
          {{ 'footer.contact' | translate }}
        </li>
        <li>
          {{ 'footer.jobs' | translate }}
        </li>
      </ul>
    </div>

    <ul>
      <li routerLink="OrderSearch">
        {{ 'footer.find_your_order' | translate }}
      </li>
      <li>
        <a href="https://www.postnord.dk/?gclid=CjwKCAjwx6WDBhBQEiwA_dP8raRarZEVcB2sYAYQN_tTc84nw1KloImlnuUBO8QtaFs-tQ7uDBrXlhoCRnsQAvD_BwE">Track & Trace</a>
      </li>
      <li>
        {{ 'footer.return_product' | translate }}
      </li>
      <li>
        {{ 'footer.customer_service' | translate }}
      </li>
    </ul>
  </section>
  <section class="bottomSec">
    <p style="padding-left: 20px">
      <i class="far fa-copyright"></i>Copyright - 2021
    </p>
    <ul class="bottomLinks">
      <li>
        <i class="fab fa-facebook-square"></i>
      </li>
      <li>
        <i class="fab fa-linkedin"></i>
      </li>
      <li>
        <i class="fab fa-twitter-square"></i>
      </li>
      <li>
        <i class="fab fa-youtube"></i>
      </li>
      <li></li>
    </ul>
  </section>
</footer>
