@import '../../../styles'

footer
  background-color: $secondary-color
  width: 100%
  border-top: 4px solid $blue-color

  .topSec
    display: flex
    justify-content: space-around
    color: $primary-color
    border-bottom: 1px solid $darkblue-color

    ul
      list-style: none
      text-align: center

      li
        cursor: pointer

        &:hover
          color: $blue-color

  .bottomSec
    display: flex
    justify-content: space-between
    align-items: center

    p
      color: $primary-color

    ul
      list-style: none
      display: flex

      li
        color: $blue-color
        font-size: 2rem

      li + li
        padding-left: 20px
